<div class="profile">
    <img id="avatar-image" class="avatar" src="/img/ca114335172f7423310709f1ab26e4e6-yeyan.jpg"></img>
    <h2 class="title"> Ye Yan </h2>
    <h2 class="subtitle"> Sr. Data Scientist </h2>
</div>

<div class="social">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="http://github.com/yeyan">
                <i class="fab fa-github"></i>
                Github
            </a>
            <a class="pure-menu-link" href="https://www.linkedin.com/in/ye-yan-83921a154">
                <i class="fab fa-linkedin"></i>
                LinkedIn
            </a>
        </li>
    </ul>
</div>
